<!DOCTYPE html>
<html lang="en">
  <!-- <style>

    /* Ensure dropdown is on top */
    .dropdown-content {
      z-index: 9999; /* High z-index to stay on top */
      position: absolute; /* Absolute positioning */
    }

    /* Ensure navbar stays on top of everything */
    .navbar {
      position: relative;
      z-index: 50;
    }

    /* Ensure hero section doesn't overlap with the navbar */
    .hero {
      position: relative;
      z-index: 1;
    }
    html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
  } -->
  </style>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>404 - Page Not Found</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body class="bg-base-200">


  <!-- Hero -->
  <div class="hero min-h-screen bg-red-500 text-white p-10">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-6xl font-bold">404</h1>
        <p class="py-6"><%= message %></p>
        <a href="/" class="btn btn-primary">Go Home</a>
      </div>
    </div>
  </div>

</body>
</html>
